<header>
    <nav>
      <ul>
        <li><a href="/mandeep">Mandeep</a></li>
        <li><a href="/navneet">Navneet</a></li>
        <li><a href="/simran">Simran</a></li>
        <li><a href="/vipin">Vipin</a></li>
      </ul>
    </nav>
    <hr>
  </header>
  