<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <%- include('partials/header') %>

    <h1>Welcome</h1>
    <p>Select a name from the nav menu above.</p>

  </body>
</html>
