<!DOCTYPE html>
<html>
<head>
  <title>Mandeep</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <h1>Mandeep</h1>
  <p>Mandeep is a Computer Programming student who enjoys learning new technologies.</p>
  <p>Hobbies: Coding, Photography, Football</p>

</body>
</html>
