<!DOCTYPE html>
<html>
<head>
  <title>Navneet</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <h1>Navneet</h1>
  <p>Navneet is a dedicated student who enjoys teamwork and group projects.</p>
  <p>Hobbies: Music, Reading, Travelling</p>

</body>
</html>
