<!DOCTYPE html>
<html>
<head>
  <title>Simran</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <h1>Simran</h1>
  <p>Simran is creative and enjoys learning design and programming skills.</p>
  <p>Hobbies: Designing, Blogging, Editing</p>

</body>
</html>
