<!DOCTYPE html>
<html>
<head>
  <title>Vipin</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <h1>Vipin</h1>
  <p>Vipin is interested in software development and enjoys solving problems.</p>
  <p>Hobbies: Problem Solving, Gaming</p>

</body>
</html>
